<ng-container *ngIf="soloIcono; else botonCompleto">
  <button
    type="button"
    class="btn-mic"
    [class.grabando]="grabando"
    [class.procesando]="procesando"
    [disabled]="procesando"
    [title]="grabando ? 'Detener' : (procesando ? 'Transcribiendo...' : 'Dictar')"
    (click)="toggleGrabacion()">
    <svg *ngIf="!grabando && !procesando" class="mic-svg" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
      <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0z"/>
      <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5"/>
    </svg>
    <ng-container *ngIf="grabando">
      <span class="rec-dot"></span>
      <span class="rec-time">{{ formatearTiempo(tiempoGrabacion) }}</span>
    </ng-container>
    <span *ngIf="procesando" class="mic-spinner"></span>
  </button>
</ng-container>

<ng-template #botonCompleto>
  <div class="transcribir-audio-container my-2">
    <button
      class="btn btn-sm w-100"
      [class.btn-outline-warning]="!grabando && !procesando"
      [class.btn-outline-danger]="grabando"
      [class.btn-outline-secondary]="procesando"
      [disabled]="procesando"
      (click)="toggleGrabacion()">
      <ng-container *ngIf="!grabando && !procesando">
        <span class="govco-microphone-alt-slash"></span>
        Iniciar transcripción
      </ng-container>
      <ng-container *ngIf="grabando">
        <span class="grabando-indicador"></span>
        Detener ({{ formatearTiempo(tiempoGrabacion) }})
      </ng-container>
      <ng-container *ngIf="procesando">
        <i class="bi bi-hourglass-split"></i>
        Transcribiendo...
      </ng-container>
    </button>
  </div>
</ng-template>