<div class="modulo">
  <app-header
    [tituloModulo]="titulo"
    [mostrarCrear]="false"
    [accion]="'ConsultarTodos'"
    [raiz]="'/administracion/datos-maestros/plantillas'"
    [regresar]="'/administracion/datos-maestros'"
    [iconoTitulo]="'mdi mdi-file-document-multiple'"
  ></app-header>
  
  <app-tablas
    [titulos]="titulos"
    [datos]="datos"
    [raiz]="'/administracion/datos-maestros/plantillas'"
    [acciones]="acciones"
    [accionEditar]="true"
    [accionEliminar]="false"
    [mostrarBuscar]="true"
    [columnasFiltro]="columnasFiltro"
    (clicAccion)="clicAccion($event)"
  ></app-tablas>
</div>