<div class="modulo">
    <app-header [tituloModulo]="titulo" [mostrarCrear]="puedeCrear" [accion]="'ConsultarTodos'"
        [raiz]="'/administracion/datos-maestros/productos'" [regresar]="'/administracion/datos-maestros'"
        [iconoTitulo]="'/assets/images/productos.png'"></app-header>

    <app-tablas [titulos]="titulos" [datos]="datos" [raiz]="'/administracion/datos-maestros/productos'" [acciones]="acciones"
        [accionEditar]="puedeEditar" [accionEliminar]="puedeEliminar" [mostrarBuscar]="true" [columnasFiltro]="columnasFiltro"
        (clicAccion)="clicAccion($event)"></app-tablas>
</div>