<div class="modulo">
  <app-header
    [tituloModulo]="titulo"
    [mostrarCrear]="true"
    [accion]="'ConsultarTodos'"
    [raiz]="'/administracion/datos-maestros/tipos-documentos'"
    [regresar]="'/administracion/datos-maestros'"
    [iconoTitulo]="'fas fa-file-circle-check'"
  ></app-header>
  
  <app-tablas
    [titulos]="titulos"
    [datos]="datos"
    [raiz]="'/administracion/datos-maestros/tipos-documentos'"
    [acciones]="acciones"
    [accionEditar]="true"
    [accionEliminar]="true"
    [mostrarBuscar]="true"
    [columnasFiltro]="columnasFiltro"
    (clicAccion)="clicAccion($event)"
  ></app-tablas>
</div>