<div class="modulo">
  <app-header
    [tituloModulo]="titulo"
    [mostrarCrear]="true"
    [accion]="'ConsultarTodos'"
    [raiz]="'/administracion/datos-maestros/productos-limpieza'"
    [regresar]="'/administracion/datos-maestros'"
    [iconoTitulo]="'mdi mdi-spray-bottle'"
  ></app-header>
  
  <app-tablas
    [titulos]="titulos"
    [datos]="datos"
    [raiz]="'/administracion/datos-maestros/productos-limpieza'"
    [accionEditar]="true"
    [accionEliminar]="true"
    [mostrarBuscar]="true"
    [columnasFiltro]="columnasFiltro"
    (clicAccion)="clicAccion($event)"
  ></app-tablas>
</div>