<div class="modulo">
  <app-header
    [tituloModulo]="titulo"
    [mostrarCrear]="true"
    [accion]="'ConsultarTodos'"
    [raiz]="'/administracion/datos-maestros/usuarios'"
    [regresar]="'/administracion/datos-maestros'"
    [iconoTitulo]="'/assets/images/colaboradores.png'"
  ></app-header>

  <app-tablas
    [titulos]="titulos"
    [datos]="datos"
    [raiz]="'/administracion/datos-maestros/usuarios'"
    [acciones]="acciones"
    [accionEditar]="true"
    [accionEliminar]="false"
    [mostrarBuscar]="true"
    [columnasFiltro]="columnasFiltro"
    (clicAccion)="clicAccion($event)"
  ></app-tablas>
</div>
